---
---
<section class="post" id="contact">
  <header class="major">
    <h2>Have more questions?</h2>
    <p>Drop me a line and I'll get back to you within a couple of days.</p>
    <p>Ready to work together? Fill out <a href="https://forms.gle/nCnR8cgRWDYpyQBf8">the intake form</a> and I'll be in touch to set up a free 45-minute call to get us started.</p>
  </header>
  <form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value="c232cc0a-80e4-4197-b922-66f36097114d" />
    <input type="checkbox" name="botcheck" style="display:none" />
    <div class="fields">
      <div class="field half">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Your name" required />
      </div>
      <div class="field half">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="jenniferlynparsons@gmail.com" required />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="5" placeholder="What's on your mind?" required></textarea>
      </div>
    </div>
    <ul class="actions">
      <li><button type="submit">Send message</button></li>
    </ul>
  </form>
</section>
